@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: rgb(66, 61, 61);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: aliceblue;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 800ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 25px;
  bottom: 19px;
  left: 19px;
  margin: 0;
  opacity: 0;
  color: rgb(7, 168, 7);
}

.slide.active {
  flex: 10;
}

.slide.slide.active h3 {
  opacity: 1;
  transition: 0.5s ease-in 0.6s;
}
